@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
    background-image: url(./images/background.jpg);
    font-family: 'Noto Serif', serif;
}

.container {
    width: 800px;
    min-height: 800px;
    border: 10px solid maroon;
    margin: 0 auto;
    background-color: aliceblue;
}
